.app {
	text-align: center;
	background-color: rgb(80, 120, 200);
	height: 100vh;
}

.appHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: calc(8px + 2vmin);
	padding-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.settingsIcon {
	width: 8vmin;
	margin-right: 40px;
}

.bestScoreDisplay{
	color: rgb(231, 211, 64);
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

div.bestScoreDisplay{
	display: flex;
	align-items: center;
}

img.bestScoreDisplay{
	width: 8vmin;
	height: 8vmin;
}